<html>
  <head>
  <title>Mock</title>
  <link rel="stylesheet" href="css/mock.css">
</head>

<body>
{{{body}}}

<footer>
asdskkk
</footer>
</body>
</html>

<style>
  footer {
    width: 100%;
    height: 600px;
    background-color: #0000009c;
  }
</style>