  <header>
    <div class="headerItem">
      <input id='searchBar' type="text">
    </div>
    <div class="headerItem">
      Sound
      <br>Alchemy
    </div>
    <div class="headerItem">
      account
    </div>
  </header>
  <div class="navSegment">
    <div class="navItem">
      <div class="navItemText">
        <p>Home</p>
      </div>
    </div>
    <div class="navItem">
      <div class="navItemText">
        <p>Shop</p>
      </div>
    </div>
    <div class="navItem">
      <div class="navItemText">
        <p>Blog</p>
      </div>
    </div>
    <div class="navItem">
      <div class="navItemText">
        <p>Cart</p>
      </div>
    </div>
    <div class="navItem">
      <div class="navItemText">
        <p>Checkout</p>
      </div>
    </div>
    <div class="navItem">
      <div class="navItemText">
        <p>My Account</p>
      </div>
    </div>
  </div>
  <div class="productCategory">
    <div class="productCategoryItem">
      <div class="productCategoryItemText">
        <p>Category 1</p>
      </div>
    </div>
    <div class="productCategoryItem">
      <div class="productCategoryItemText">
        <p>Category 2</p>
      </div>
    </div>
    <div class="productCategoryItem">
      <div class="productCategoryItemText">
        <p>Category 3</p>
      </div>
    </div>
    <div class="productCategoryItem">
      <div class="productCategoryItemText">
        <p>Category 4</p>
      </div>
    </div>
    <div class="productCategoryItem">
      <div class="productCategoryItemText">
        <p>Category 5</p>
      </div>
    </div>
    <div class="productCategoryItem">
      <div class="productCategoryItemText">
        <p>Category 6</p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Mock</h1>
      </div>
    </div>
  </div>


<style>
  body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }

  header {
    max-width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    /* background-color: beige; */
  }

  .headerItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 180px;
    /* border: 1px solid black; */
  }

  .navSegment {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 60px;
    font-size: 12px;
    font-weight: 400;
    color: gray;
    /* background-color: beige; */
  }

  .navItem {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 60px;
    padding: 20px;
  }

  .productCategory {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 35px;
    background-color: black;
    color: white;
  }

  .productCategoryItem {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 80px;
    padding: 20px;
  }

</style>